*.pyc
*.iml
*.swp
*.zip
.project
.pydevproject
.DS_Store
.idea
.vscode
.conda
.venv
!.vscode/extensions.json
!.vscode/settings.json

# colcon/CMake output
build
install
log
sandbox

a4_models
airsim

# Python
__pycache__

QGroundControl.AppImage
